body {
  background-color: hsl(0, 0%, 10%);
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.todo-list {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin-top: 100px;
  width: 100%;
  max-width: 500px;
}

h1 {
  font-size: 4rem;
  color: white;
  margin-bottom: 30px;
}

.todo-list>div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

input[type="text"] {
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: hsl(0, 0%, 10%);
  outline: none;
  width: 70%;
  max-width: 400px;
  box-sizing: border-box;
  height: 50px;
  vertical-align: middle;
}

button {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  box-sizing: border-box;
}

.add-button {
  background-color: hsl(125, 47%, 54%);
  margin-left: 10px;
}

.add-button:hover {
  background-color: hsl(125, 47%, 44%);
}

ol {
  padding: 0;
}

li {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 12px;
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.text {
  flex: 1;
  text-align: left;
  color: hsl(0, 0%, 20%);
}

.delete-button {
  background-color: hsl(10, 90%, 50%);
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
  height: auto;
}

.delete-button:hover {
  background-color: hsl(10, 90%, 40%);
}

.move-button {
  background-color: hsl(207, 90%, 64%);
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 5px;
  height: auto;
}

.move-button:hover {
  background-color: hsl(207, 90%, 54%);
}